<div class='top-margined'>
  <div class='jumbo blue'>ToEatApp</div>

  <div class='foo-small'>
    A tutorial application that demonstrates how to use Webpack transpiled ES6 based React, GraphQL, and Relay tooling with a Ruby on Rails (ActiveRecord/Postgresql) server.
  </div>
  <div class='light-grey'>
    Add the query param `?reset_data=true` to reset the food truck data being displayed.
  </div>

  <div class='foo-small top-margined'>
    <div>tutorials</div>
    <div><a href='http://www.startuplandia.io/posts/rails-react-relay-graphql-tutorial-application-setup/' target='new' class='red'>http://www.startuplandia.io/posts/rails-react-relay-graphql-tutorial-application-setup/</a></div>
    <div><a href='http://www.startuplandia.io/posts/rails-react-relay-graphql-tutorial-queries/' target='new' class='red'>http://www.startuplandia.io/posts/rails-react-relay-graphql-tutorial-queries/</a></div>
    <div><a href='http://www.startuplandia.io/posts/rails-react-relay-graphql-tutorial-mutations/' target='new' class='red'>http://www.startuplandia.io/posts/rails-react-relay-graphql-tutorial-mutations/</a></div>
  </div>

  <div class='foo-small top-margined'>
    <div>application source code </div>
    <div><a href='https://github.com/jcdavison/to_eat_app' target='new' class='red'>github.com/jcdavison/to_eat_app</a></div>
  </div>

  <div id="to-eat-app" class="top-margined">
  </div>
</div>
