<div class='top-margined'>

  <div class='foo-small padded'>
    <div >
      <span class='profile-header foo-small green'>
        <a href='http://startuplandia.io' target='new'> <img src='/assets/railstutor.png' class='profile'></a>
      </span>
      <span class='profile-header jumbo blue'>ToEatApp</span> 
    </div>
    <span class='red'>A tutorial application that demonstrates;</span>
    <ul class='top-margined'>
      <li>How to use Facebook's React, Relay and GraphQl tools.</li>
      <li>How to implement a non-restful api with the Ruby on Rails and GraphQl.</li>
      <li>How to use node.js, webpack and babel to transpile ES6 to internet friendly javascript served by the rails asset pipeline.</li>
    </ul>
  </div>

  <div class='foo-small top-margined borders padded'>
    <div><span class='red'>Step 1</span> - Read the tutorials.</div>
    <div><a href='http://www.startuplandia.io/posts/rails-react-relay-graphql-tutorial-application-setup/' target='new' class='blue'>startuplandia.io/posts/rails-react-relay-graphql-tutorial-application-setup/</a></div>
    <div><a href='http://www.startuplandia.io/posts/rails-react-relay-graphql-tutorial-queries/' target='new' class='blue'>startuplandia.io/posts/rails-react-relay-graphql-tutorial-queries/</a></div>
    <div><a href='http://www.startuplandia.io/posts/rails-react-relay-graphql-tutorial-mutations/' target='new' class='blue'>startuplandia.io/posts/rails-react-relay-graphql-tutorial-mutations/</a></div>
  </div>

  <div class='foo-small top-margined borders padded'>
    <div><span class='red'>Step 2</span> - Get the source code for this application by joining my mailing list.</div>
    <div class='signup-form-container'>
      <form action="//Startuplandia.us13.list-manage.com/subscribe/post?u=f2b26fc2a1fb7b27971e35720&amp;id=4ec36bb7de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        email: <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="majortom@groundcontrol.com">
        github username: <input type="text" value="" name="MMERGE3" class="required" id="mce-MMERGE3" placeholder='dhh'>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f2b26fc2a1fb7b27971e35720_4ec36bb7de" tabindex="-1" value=""></div>
        <input type="submit" value="GO" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default subscribe">
      </form>
    </div>
  </div>

  <div class='top-margined borders padded'>
    <div class='foo-small'><span class='red'>Step 3</span> - Tutorials + Source Code + ToEatApp ==  React Bliss</div>
    <div id="to-eat-app" class="top-margined">
    </div>
  </div>


  <div class='light-grey centered'>
    Add the query param `?reset_data=true` to reset the food truck data being displayed.
  </div>
</div>
