<div class='top-margined'>
  <div ><span class='profile-header jumbo blue'>ToEatApp</span> <span class='profile-header foo-small green'><a href='http://startuplandia.io' target='new'>written by<img src='/assets/railstutor.png' class='profile' ></a></span></div>

  <div class='foo-small'>
    A tutorial application that demonstrates;
    <ul class='top-margined'>
      <li>How to use Facebook's React, Relay and GraphQl tools.</li>
      <li>How to implement a non-restful api with the Ruby on Rails and GraphQl.</li>
      <li>How to use node.js to transpile ES6 to internet friendly javascript.</li>
      <li>How to eat really tasty food truck stuff.</li>
    </ul>
  </div>

  <div class='foo-small top-margined'>
    <div><span class='red'>Step 1</span> - Read these crazy logical and clear tutorials.</div>
    <div><a href='http://www.startuplandia.io/posts/rails-react-relay-graphql-tutorial-application-setup/' target='new' class='blue'>startuplandia.io/posts/rails-react-relay-graphql-tutorial-application-setup/</a></div>
    <div><a href='http://www.startuplandia.io/posts/rails-react-relay-graphql-tutorial-queries/' target='new' class='blue'>startuplandia.io/posts/rails-react-relay-graphql-tutorial-queries/</a></div>
    <div><a href='http://www.startuplandia.io/posts/rails-react-relay-graphql-tutorial-mutations/' target='new' class='blue'>startuplandia.io/posts/rails-react-relay-graphql-tutorial-mutations/</a></div>
  </div>

  <div class='foo-small top-margined'>
    <div><span class='red'>Step 2</span> - Clone the source code for this application (toeatapp.startuplandia.io).</div>
    <div><a href='https://github.com/jcdavison/to_eat_app' target='new' class='blue'>github.com/jcdavison/to_eat_app</a></div>
  </div>

  <div class='foo-small top-margined'>
    <div><span class='red'>Step 3</span> - Review the tutorials, source code and the below live application and become 'magic'.</div>
  </div>

  <div id="to-eat-app" class="top-margined">
  </div>

  <div class='light-grey'>
    Add the query param `?reset_data=true` to reset the food truck data being displayed.
  </div>
</div>
