<div class='container'>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class='container'>
      <div class='signup-form-container'>
        join my mailing list to receive other thoughtful content ->
        <form action="//Startuplandia.us13.list-manage.com/subscribe/post?u=f2b26fc2a1fb7b27971e35720&amp;id=4ec36bb7de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="majortom@groundcontrol.com">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f2b26fc2a1fb7b27971e35720_4ec36bb7de" tabindex="-1" value=""></div>
          <input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default subscribe">
        </form>
      </div>
    </div>
  </nav>
</div>
